:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.price {
  color: #d8a10b;
  font-size: 1.25rem;
}

.total {
  color: #aa7f0b;
  font-size: 1.25rem;
}

.quantity {
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  font-weight: 600;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #dfd0b8;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

.head-title {
  color: #37353e;
  font-weight: 600;
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

table.cart {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  min-width: 40rem;
  width: 100%;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr {
    background-color: #fff;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #715a5a;
    color: white;
  }

  img {
    height: 4rem;
  }
}

img.empty-cart {
  max-width: 15rem;
  display: block;
  margin: 0 auto 1.5rem;
}
