:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.price {
  color: #E9AE0B;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #DFD0B8;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

.head-title {
  color: #37353E;
  font-weight: 600;
}